# -----------------------------------------------------------------------------
# nix
# -----------------------------------------------------------------------------

# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

# -----------------------------------------------------------------------------
# repository
# -----------------------------------------------------------------------------

.env
.direnv
.creds.yml
.nixos-test-history
